+++
title = "Kubeclipper"
linkTitle = "Kubeclipper"

+++

{{< blocks/cover title="欢迎来到 Kubeclipper !" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		了解更多 <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/kubeclipper/kubeclipper">
		免费下载 <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5">用最简单的方式管理 kubenertes !</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
KubeClipper 是一个轻量级、易用的图形界面 Kubernetes 集群生命周期管理平台。

它与 K8S 完全兼容，用户可以通过友好的向导式 Web UI，在客户管理的基础架构上快速部署企业所需的 K8S 集群，并提供持续的全生命周期管理能力。
{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-solid fa-image" title="易使用" %}}
友好的向导式图形化界面，初学者也可以快速部署一个生产级集群并安装所需插件。
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-solid fa-paper-plane" title="极轻量" %}}
架构简单，少依赖，平台部署仅需两个命令行。
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-solid fa-star" title="生产级" %}}
易用性和专业性兼顾，支持丰富的集群参数配置和插件管理，满足生产级集群部署需求。
{{% /blocks/feature %}}


{{< /blocks/section >}}


{{< blocks/section >}}
	<div class="get-start">
		<div class="white">
			<h2 class="text-center mb-4">立即体验</h2>
			<h5 class="text">
				1. 下载 kcctl <br>
				2. 部署 KubeClipper
			</h5>
<pre>
<code>
curl -sfL https://oss.kubeclipper.io/kcctl.sh | sh -

# In China, you can add cn env, we use registry.aliyuncs.com/google_containers instead of k8s.gcr.io
curl -sfL https://oss.kubeclipper.io/kcctl.sh | KC_REGION=cn sh -

kcctl deploy  [--user root] (--passwd SSH_PASSWD | --pk-file SSH_PRIVATE_KEY)
</code>
</pre>
		</div>
	</div>
{{< /blocks/section >}}





