+++
title = "Kubeclipper"
linkTitle = "Kubeclipper"

+++

{{< blocks/cover title="Welcome to Kubeclipper!" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/kubeclipper/kubeclipper">
		Download <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5">Manage Kubernetes in the most light and simple way !</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
KubeClipper is a lightweight web service that provides a friendly web console GUI, APIs, and a CLI tool for Kubernetes cluster lifecycle management.

KubeClipper provides flexible Kubernetes as a Service (KaaS), which allows users to rapidly deploy K8S clusters anywhere(cloud, hypervisor, bare metal) and provides continuous lifecycle management capabilities (installation, deleting, upgrading, backup and restoration, cluster scaling, remote access, plug-in management, application store).see Feature List for details.
{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-lightbulb" title="Simple" %}}
Provides friendly wizard graphical interface, allows beginners to quickly deploy a cluster and the required plug-ins.

{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Lightweight"  %}}
Simple architecture, few dependencies, only two command lines for platform deployment.
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Professional"  %}}
Simple and professional, it supports rich cluster parameter configuration and plug-in management, meeting production-level cluster deployment requirements.
{{% /blocks/feature %}}


{{< /blocks/section >}}


{{< blocks/section>}}
	<div class="get-start">
		<div class="white">
			<h2 class="text-center mb-4">Quick Start</h2>
			<h5 class="text">
				1. Download kcctl <br>
				2. Deploy KubeClipper
			</h5>
<pre>
<code>
curl -sfL https://oss.kubeclipper.io/get-kubeclipper.sh | sh -

# In China, you can add cn env, we use registry.aliyuncs.com/google_containers instead of k8s.gcr.io
curl -sfL https://oss.kubeclipper.io/get-kubeclipper.sh | KC_REGION=cn sh -

kcctl deploy  [--user root] (--passwd SSH_PASSWD | --pk-file SSH_PRIVATE_KEY)
</code>
</pre>
		</div>
	</div>
{{< /blocks/section >}}
